body{
    background-image: url(faded.jpg);
 background-repeat: no-repeat;
    background-position:static ;
    background-attachment:fixed ;
    background-size: cover;
}
#hone{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.364);
}
div{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    border:4px solid black;
    margin:90px;
    padding:30px;
    background-image: url(white.jpeg);
    box-shadow: 3px 3px 4px rgb(77, 160, 224),-3px -3px 4px rgb(228, 98, 50);
}
h4{
    text-align: left;
}
footer{
    text-align: center;
}